.container {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  font-size: 30px;
  border-bottom: 1px solid black;
  font-family: sans-serif;
}

.mode {
  display: flex;
  cursor: pointer;
  margin-right: 20px;
}

img {
  height: 35px;
  width: 35px;
  padding-right: 10px;

}

.dark {
  background-color: #000000; /* Slightly darker background for dark mode */
  color: white;
}

.light-pic {
  background-color: #000000; /* Slightly darker background for dark mode */
}
